body {
  font-family: "Inter", sans-serif;
}

h2 {
  font-weight: 600;
}

.list-group-item a {
  text-decoration: none;
  color: #0d6efd;
}

.list-group-item a:hover {
  text-decoration: underline;
}

.badge {
  font-size: 0.75rem;
}
